
input:focus {
  outline: none;
}
input:hover {
  text-decoration: none;
}
button {
  border: none !important;
  outline: none !important;
}
button:hover {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.MuiFormControl-root {
  width: 100%;
}

.navbar-brand {
  img {
    object-fit: contain;
  }
}

.MuiAvatar-img {
  object-fit: contain !important;
}
